<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017263787450-fc9bgbu8re45lb21ev0l463a1m7np8r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017263787450-fc9bgbu8re45lb21ev0l463a1m7np8r9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1017263787450-hid46dht9dpvaa8aclm1t4tv1dfir82e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4HY1HvB2GFOfMnUm7g3eIokDscHHaL8o</string>
	<key>GCM_SENDER_ID</key>
	<string>1017263787450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.dragons-count</string>
	<key>PROJECT_ID</key>
	<string>tichu-counter-2c9ff</string>
	<key>STORAGE_BUCKET</key>
	<string>tichu-counter-2c9ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017263787450:ios:0611d45283f6dba8e5a183</string>
</dict>
</plist>